<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
    <!--annotationBeanPostProcessor defaults-->
    <context:annotation-config/>

    <bean class="com.zhadan.spring.postprocessors.ProfilingAnnotationPostProcessor"/>
    <bean class="com.zhadan.spring.postprocessors.InjectRandomIntAnnotationPostProcessor"/>

    <bean class="com.zhadan.spring.PostProxyInvokerContextListener"/>

    <bean class="com.zhadan.spring.TerminatorQuarter" id="quarter">
        <property name="message" value="I'll be back"/>
    </bean>
</beans>